@import url(http://fonts.googleapis.com/css?family=Varela+Round);
@import url(http://fonts.googleapis.com/css?family=Lato);

body, 
.pure-g [class *= "pure-u"],  
.pure-g-r [class *= "pure-u"]{
	font-family: 'Lato',Helvetica, sans-serif;
}
.main-contain {
	margin:0 auto;
	max-width:960px
}