@import url(http://fonts.googleapis.com/css?family=Roboto:400,700);
@import url(http://fonts.googleapis.com/css?family=Oxygen+Mono);

html {

}
body {
	background: url(../img/iphonebg.jpg) no-repeat center center fixed;
	background-size: cover;
}
body, 
.pure-g [class *= "pure-u"],  
.pure-g-r [class *= "pure-u"]{
	font-family: Verdana,Helvetica, sans-serif;
	color: rgb(51, 51, 50);
}
h1,h2,h3,h4,h5 {
	font-family: 'Roboto',Helvetica, sans-serif;
}
.main-contain {
	margin:0 auto;
	max-width:1200px;
}
.main-title {
	text-align:center;
}
.why-design-sec,
.part-one-sec,
.part-two-sec,
.part-three-sec,
.part-four-sec,
.part-five-sec,
.part-six-sec {
	padding:7px;
	border-top-right-radius:4px;
	border-top-left-radius:4px;
	border-bottom:5px solid rgba(252,200,39,1);
}
.why-design-sec {
	background:white;
}